#basketHead{
    padding-top: 30px;
}

.my-basket-table {
    width: 100%;
    border-collapse: collapse;
}

.my-basket-table td,
.my-basket-table th {
    padding: 5px;
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.my-basket-table td img{
    width: 100px;
}

.my-basket-table td:nth-child(2) {
    text-align: left;
    width: min-content;
}

.my-basket-table td input[type="checkbox"] {
    transform: scale(1.5);
}

.my-basket-table th {
    background-color: #f2f2f2;
}

.my-basket-checkbox {
    margin-right: 10px;
}

.my-basket-total {
    margin-top: 10px;
    text-align: right;
}

.my-basket-total-text {
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.my-basket-total-price {
    font-weight: bold;
    font-size: 16px;
    color: #6667AB;
}

.my-basket-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #6667AB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 0.5rem;
}

.my-basket-button:hover {
    opacity: 0.8;
}
.select {
    text-align: left;
    padding: 10px;
}
.payment{
    text-align: right;
    padding: 10px;
}
