.CoOpManage{
    min-height: 550px;
    padding: 50px;
}

.CoOpManagebutton{
    background-color: #6667ab;
    color: white;
    margin: 50px;
    width: 150px;
    height: 100px;
    font-weight: bold;
}

.inputCoOpInfo{
    border-radius: 0;
    margin: 10px;
    border: 2px solid #6667ab;
}
.inCoOpButton{
    background-color: #6667ab;
    color: white;
    width: 100px;
    height: 50px;
    font-weight: bold;
    border: 2px solid #6667ab;
}

.CoOpShow{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.CoOpShowTable{
    border: 1px solid #6667ab;
    width: 50%;
    margin: auto;
}

