.Detailframe{
    margin: 160px 80px 80px;
    border: 4px solid #6667AB;
}

.DetailMain{
    padding: 30px;
    border-bottom: 4px solid #6667AB;
}

.DetailHeader{
    border-bottom: 2px solid #6667ab;
}

.DetailName{
    text-align: left;
}

.DetailInfo{
    text-align: right;
}

.DetailContent{
    padding-top: 30px;
}

.Detailtext{
    text-align: left;
}

.DetailImg{
    margin-bottom: 30px;
}

.GoodButton{
    background-color: white;
    border: none;
}

.GoodButton *:hover{
    cursor: pointer;
}
.DetailGood{
    width: 80px;
}
.ReportButton{
    background-color: white;
    border: 0;
}

.ReportImg{
    width: 50px;
}

.LikeCount{
    color: #6667AB;
    font-weight: bold;
}

.ReportDiv{
    text-align: right;
}

.DetailChat{
    padding: 30px;
    text-align: left;
}

.Chatting{
    width: 90%;
    border-radius: 0;
}

.RegisterChat{
    background-color: #6667AB;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 10%;
    font-size: 1vw;
}
.ChatMain{
    border-bottom: 2px solid #6667AB;
    padding-bottom: 30px;
}

.ChatContent{
    border-bottom: 1px solid #6667AB;
}
.Chatpart{
    border-bottom: 1px solid #6667AB;
    display: flex;
    padding: 5px;
}

.ChatChat{
    text-align: left;
    width: 90%;
}
.ChatGood{
    text-align: right;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}
.Chatgood{
    height: 30px;
    align-items: center;
    flex-direction: row;
}
.ChatReport{
    height: 30px;
}

.ChatIconButton{
    background-color: white;
    border: 0;
}
.ChatIcon{
    height: 30px;
}

.PlusChatDiv{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
}

.ChatChatting{
    width: 70%;
    border-radius: 0;
    height: 40px;
    border: 1px solid black;
}

.ChatRegisterChat{
    background-color: #6667AB;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 5%;
    font-size: 0.7vw;
    border: 0;
}