section {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 3em;

}

.maincancelbutton {
  background-color: rgba(102, 103, 171, 0.5);
  color: white;
  font-weight: bold;
  margin: 5px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #6667ab;
}

.mainbutton{
  background-color: #6667ab;
  color: white;
  font-weight: bold;
  margin: 5px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #6667ab;
}

.Text {
  display: flex;
  flex-direction: column;
  height: 40%;

}

.QuestionTitle {
  width: 80%;
  margin: 10px auto;
  padding: 2em;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #6667ab;
}


QuillEditor {
  width: 80%;
  margin: 10px auto;
  padding: 2em;
  height: 400px;
  border: 2px solid #6667ab;
  background-color: #61dafb;
}

.CategoryOption{
  border: 1px solid #6667ab;
}

.CategorySelect{
  width: 40%;
  height: 50px;
  border: 2px solid #6667ab;
  margin-top: 50px;
}
