.whole {
    margin-left : 80px;
    margin-right : 80px;
}

#head {
    /*padding-top: 100px;*/
    text-align: left;
}

#line{
    height: 3px;
    background-color : black;
}

.InfoTeacherImgDiv{
    margin-left: 30px;
    padding: 10px;
    width: 150px;
    display: block;
    overflow: hidden;
}

.InfoTeacherImgDiv img{
    padding: 5px;
    width: 100%;
}


.horizon{
    display: flex;
}

.profile{
    flex-direction: column;
}

.careerAndNotice{
    width: 30%;
    flex-direction: column;
    text-align: left;
}

.notice{
    background-color:#D9D9D9;
}

.notice *{
    padding: 10px;
}

.notice ul{
    padding-left: 0px;
    list-style-type : none
}

.lecture{
    width: 50%;
}

.InfoLecture-Tile{
    padding: 10px;
}

.lectureScroll {
    height: 500px;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
}

@media only screen and (max-width: 1300px) {
    .lectureScroll {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .lectureScroll {
        grid-template-columns: 1fr;
    }
}


.careerScroll{
    height:300px;
    overflow-x: hidden;
}

@media (max-width : 1000px) {
    .horizon{
        flex-direction: column;
        align-items: center;
    }
    .profile{
        width: 100%;
        align-items: center;
        justify-items: center;
    }
    .careerAndNotice{
        width: 100%;
    }
    .lecture{
        width: 100%;
    }
}

@media (max-width: 850px) {

}